* {
    color-scheme: dark;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#root {
    width: 100%;

}

html {
    font-size: 10px;
    display: flex;
    justify-content: center;
}


body {
    background: linear-gradient(45deg, #111, rgba(0, 0, 0, 0.843), #111);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    max-width: 1380px;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.page {
    margin: 0 auto;

}

h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    padding: 1rem 2rem;
    background-color: #ff0;
    color: black;
    border-radius: 1.5rem;
    width: fit-content;
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    margin-top: 3rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

table {
    width: 100%;
}

th {
    font-size: clamp(1.5rem, 4vw, 2rem);
    padding: 1rem 2rem
}

.encabezado-ordenado {
    background-color: #333;
}

.thead:hover {
    cursor: pointer;
    background-color: #333;
}

td {
    font-size: clamp(1rem, 3vw, 1.5rem);
    padding: .5rem 0;
}

button {
    background: #000;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.button-activo {
    background: #ff0;
    color: black;
}

.button-inactivo {
    background: #000;
    color: white;
}

.contenedor-botones {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}

.contenedor-botones button {
    border: .1rem solid white;
}

.contenedor-botones-paginas {
    display: flex;
    align-items: center;
    gap: 1rem
}

.contenedor-botones-paginas button {
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.contenedor-botones-paginas button:hover {
    background: #48e;
}

.contenedor-botones-paginas button:disabled {
    background: #48e;
    color: white;
}

.contenedor-botones-paginas button img {
    max-width: 3rem;
    width: 100%;
    aspect-ratio: 1/1;
}

button:hover,
button:nth-child(3):focus {
    background: #ff0;
    color: black;
}

input {
    padding: 1rem 2rem;
    border: .1rem solid white;
    border-radius: 1.2rem;
    background: transparent;
}

.paginas {
    font-size: clamp(1.5rem, 4vw, 2rem);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background: #ff0;
    color: black;
}

.filas-users:hover {
    background: #48e !important;
    cursor: text;
}

.sin-resultados {
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: bold;
    padding: 1rem 2rem;
    background: rgb(243, 50, 50);
    color: white;
    border-radius: 1rem;
}

.btn-pages {
    margin-bottom: 4rem;
    border: .1rem solid white;
}

.loading {
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    font-weight: bold;
    margin-top: 4rem;
    animation: loading .5s infinite linear alternate;
}

.error {
    font-size: clamp(1.5rem, 4vw, 2rem);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background: rgb(243, 50, 50);
    color: white;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}